In [1]:
import pandas as pd

In [4]:
review_rating = pd.read_csv('Non_Progressed_Flipkart_data.csv')

In [5]:
review_rating.head()

,Product_name,Quarter,Region,Current_price,Count,Latitude,Longitude,Vendor,Price_category,Unnamed: 9,73254
0,"Alcatel 3V (Spectrum Gold, 32 GB)(3 GB RAM)",2019 3Q,== NOT AVAILABLE ==,5999,7,13.535496,82.297328,Others,Low,NaN,NaN
1,"Alcatel 3V (Spectrum Gold, 32 GB)(3 GB RAM)",2019 3Q,Baksa District,5999,1,26.656030,90.779303,Others,Low,NaN,NaN
2,"Alcatel 3V (Spectrum Gold, 32 GB)(3 GB RAM)",2019 3Q,Bharuch,5999,1,21.727747,72.933589,Others,Low,NaN,NaN
3,"Alcatel 3V (Spectrum Gold, 32 GB)(3 GB RAM)",2019 3Q,Bongaigaon,5999,1,26.489553,90.500879,Others,Low,NaN,NaN
4,"Alcatel 3V (Spectrum Gold, 32 GB)(3 GB RAM)",2019 3Q,Dehradun District,5999,1,30.480682,77.382898,Others,Low,NaN,NaN